<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Stock System - Home</title>
<%= stylesheet_link_tag 'Stockcss'  %>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>

</head>

<body>
	<div id="content">
		<h1 align="center"><strong>Stock Market Search</strong></h1>

		<%= form_tag({:controller => "stock", :action => "lookup"}, :method => "get") do %>

			<%= label_tag(:Symbol, "Please Enter Stock Symbol:") %>
			<%= text_field_tag(:Symbol,'',:size => 4) %><span>(must be a maximum of 4 characters long)</span>
			<br/>
			<%= label_tag(:SMSno, "Please Enter Mobile Phone Number To Send Result To :") %>
			<%= text_field_tag(:SMSno) %><span>(e.g. +353872530705)</span>
			<br/>

			<p align="center">(leave mobile phone number blank if you don't need this functionality)</p>

			<%= submit_tag("Find Stock") %>

		<% end %>

		<% yield %>
	</div>
</body>
</html>
